/* general */
.prepend-top {margin-top:1.5em;}

/* header */
#header h1 {
	color: #658A16;
}

#header h1 small {
	color: #BACE87;
}

/* footer */
#footer {
	margin-top: 15px;
	padding: 15px 0px 0px 0px;
	font-size: 95%;
	text-align: center;
	border-top: 1px solid #999;
}

#footer a {color: #999;}

.container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
	{
	width: 97%
}
.span12 {
	width: 97%
}